{% extends 'base.html' %}


{% block title_block %}
  <title>Вакансии | Джуманджи</title>
{% endblock %}

{% block content %}
  <main class="container mt-3">
    <section>

        <h1 class="h1 text-center mt-5 mb-4">Поиск вакансий</h1>



        <div class="row">
            <div class="col-md-7 col-lg-5 col-xl-4 col-sm-8 mx-auto">
              <form class="form-inline mb-3" method="post"> {% csrf_token %}
            <div class="form-group col-8 col-md-10 pl-0">
              <input class="form-control w-100" type="text" maxlength="100" value="{{query_search_words}}" required id="id_search_objects" name="search_object">
            </div>
            <div class="form-group col-4 col-md-2 pl-0">
              <button class="btn btn-primary" type="submit">Найти</button>
            </div>
          </form>

            </div>
        </div>

      {% if count_vacancies > 0 %}
        <p class="text-center pt-1">Найдено упоминание в {{count_vacancies}} вакансиях</p>
      {% elif count_vacancies < 1 %}
        <p class="text-center pt-1">Ничего не найдено</p>
      {% endif %}
      <div class="row mt-5">
        <div class="col-12 col-lg-8 offset-lg-2 m-auto">
          {% include 'list_of_vacancies.html' %}
        </div>
      </div>
    </section>
  </main>
{% endblock %}